*
!.gitignore

!apple/
!banner/
!blog/
!event/
!flag/
!gallery/
!network/
!programme/
!scholarship/
!slider/
!testimony/
!tile/
!user/

!about-us.webp
!favicon-old.png
!banner.png
!banner.png
!banner.png
!favicon.png
!icon-diw.co.id.png
!image.png
!image-not-available.png
!loading-preview.gif
!logo-footer.png
!logo-footer-old.png
!logo-old.png
!logo-square.png
!logo-square-old.png
!logo.png
!no-image-available.png
!our-values-1.webp
!our-values-2.webp
!testimony.png
!user.png
