*
!.gitignore
!about.png
!admission-calendar.png
!blog.png
!contact-us.png
!error.png
!events.png
!faq.png
!gallery.png
!information-system.png
!online-registration.png
!our-network.png
!our-profile.png
!our-values.png
!procedure.png
!sample.png
!scholarships.png
!tuition-fees.png
